.navbar1 {
    background-color: #093b2f;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    /* height: 59px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(170, 166, 166);
    

}
.navbar_left{
    /* justify-content: center; */
    align-items: center;
    margin-left: 33px;
    gap: 5px;

}

.navbar_left img{
    width: 30px;
    height: 30px;
    
}

.navbar_right {
   justify-content: space-between;
   align-items: center;
   gap: 43px;
   margin-right: 23px;
}

.navbar_right li{
    list-style: none;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size: 18px;
}

.navbar_right li:hover{
    text-align: center;
    cursor: pointer;
    /* width: 100px; */
    border-radius: 4px;
    background-color: #83a5c6;
    color: black;
    /* font-style: normal; */
    font-weight: 500;
}


/* utlity */
.d_flex{
    display: flex;
}