/* about */
.about-wrapper .about-container {max-width: 840px; padding: 0 20px; margin: auto;}
.about-wrapper h1 { text-align: center; margin-bottom: 20px;}
.about-wrapper p { text-align: justify; margin-bottom: 15px;}
.about-wrapper .team { margin-bottom: 20px;}
.about-wrapper .cta {text-align: center; margin-top: 30px;}
.about-wrapper .cta a {display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;}
.about-wrapper .cta a:hover {background-color: #0056b3;}
footer{background: #cdcdcd; margin-top: 20px; padding: 20px;}
#contact{max-width: 800px; margin: 0 auto; }

/* .profile_view .chatroom-wrapper{height: 100%; background: none;}
.profile_view .chat-messages{    height: 504px; bottom: 36px;} */
/* .profile_view .chatroom-wrapper{height: 100%; background: none;}
.profile_view .chat-form{bottom: 20px;}
.profile_view .chat-form form{display: flex;}
.profile_view .chat-form form .serachinput{width: 100%; padding: 4px 20px; font-size: 18px;} */